- page_title s_('License|License')

%h3.page-title
  = s_('License|Your License')
  = render "upload_buy_license"
- if params[:trial_key].present?
  = render "upload_trial_license"

%hr
  - if params.key?(:trial_key) && params[:trial_key].blank?
    = render "repeat_trial_info"

.container.blank-state-container
  .text-center
    = custom_icon("missing_license")
    %h4{ data: { qa_selector: 'missing_license_content' } }
      = s_('License|You do not have a license.')
    - if License.eligible_for_trial?
      %p.trial-description= s_('License|You can start a free trial of GitLab Ultimate without any obligation or payment details.')
      = link_to 'Start free trial', new_trial_url, target: '_blank', class: "gl-button btn btn-success btn-start-trial gl-mt-3"
    - else
      %p.trial-description
        = s_('License|Your free trial of GitLab Ultimate expired on %{trial_ends_on}.').html_safe % {trial_ends_on: License.trial_ends_on}
        = s_('License|You can restore access to the Gold features at any time by upgrading.')
      = link_to s_('License|Buy license'), ::EE::SUBSCRIPTIONS_PLANS_URL, target: '_blank', rel: 'noopener noreferrer nofollow', class: "gl-button btn btn-success btn-buy-license"
